<odoo>
    		<!-- Menú para acceder a los items de inventario -->
		<menuitem id="menu_items" name="Items" parent="menu_inventory_root" action="action_item"/>
		<menuitem id="menu_transaction" name="Transaccions" parent="menu_inventory_root" action="action_transaction"/>
		<menuitem id="menu_inventory_root" name="Inventari" sequence="10"/>

</odoo>
